<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles.css" >
        <title>Simple dash project</title>
    </head>
    <body>
        <div class="container" id="day-status">
            <h1 id="date"><%= day %></h1>
            <h2 id="temperature"><%= weather.main.temp %>ºC</h1>
            <img src=<%= icon %> alt="">
            <form action="/forecast" method="post">
                <button type="submit">Update</button>
            </form>
        </div>
        <div class="container" id="item-list">
            <h3>TO-DO LIST</h3>
            <% for(var i = 0;i < listElement.length; i++ ){ %>
                <div class="list-element">
                    <p><%= listElement[i] %></p>
                    <button class="remove" type="submit">-</button>
                </div>
            <% } %>
            <form action="/" method="post">
                <input id="new-item" type="text" name="newItem">
                <button id="add-item" type="submit">+</button>
            </form>
        </div>
    </body>
</html>